{% extends 'notes\base.html' %}

{% block title %}XXX Step one - {{block.super}} {% endblock %}
{% block content %}

<p>Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
{% for field in form %}
    {{field.error}}
{% endfor %}
<form id="business_form" data-business-url="{% url 'ajax_load_business' %}" action="/contact/" method="POST">{% csrf_token %}
    <table>
        {{ wizard.management_form }}
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form }}
            {% endfor %}
        {% else %}
            {{ wizard.form }}
        {% endif %}
    </table>
    {% if wizard.steps.prev %}
        <button formnovalidate="formnovalidate" name="wizard_goto_step" value="{{ wizard.steps.first }}">
            first step
        </button>
        <button formnovalidate="formnovalidate" name="wizard_goto_step" value="{{ wizard.steps.prev }}">
            prev step
        </button>
    {% endif %}
    <input type="submit" value="Submit">
</form>

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_business_type-typ_zivnosti").change(function () {
      var url = $("#business_form").attr("data-business-url");
      var businessId = $(this).val();
      $.ajax({
        url: url,
        data: {
          'business': businessId
        },
        success: function (data) {
          $("#id_business_type-jmeno_zivnosti").html(data);
        }
      });
    });
  </script>

{% endblock %}