{% extends 'notes/base.html' %}

{% block content %}
    <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 col-sm-10">
            <div class="card">
                <div class="card-header text-center">
                    Chooose opening hours
                </div>
                <div class="card-body">
                {{ wizard.management_form }}
                {% if wizard.form.forms %}
                    {{ wizard.form.management_form }}
                {% endif %}
                    <form id="business_form" action="/contact/" method="POST">
                        {% csrf_token %}
                       <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-4">
                                From
                            </div>
                            <div class="col-sm-4">
                                Until
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputEmail3" class="col-sm-3 col-form-label">Sunday</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="sunday_from" name="sunday_from" placeholder="">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="sunday_to" name="sunday_to" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-3 col-form-label">Monday</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="monday_from" name="monday_from" placeholder="9:00">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="monday_to" name="monday_to" placeholder="15:00">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-3 col-form-label">Tuesday</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="tuesday_from" name="tuesday_from" placeholder="9:00">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="tuesday_to" name="tuesday_to" placeholder="12:00">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-3 col-form-label">Wednesday</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="wednesday_from" name="wednesday_from" placeholder="9:00">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="wednesday_to" name="wednesday_to" placeholder="19:00">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-3 col-form-label">Thursday</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="thursday_from" name="thursday_from" placeholder="9:00">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="thursday_to" name="thursday_to" placeholder="17:00">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-3 col-form-label">Friday</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="friday_from" name="friday_from" placeholder="9:00">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="friday_to" name="friday_to" placeholder="17:00">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label for="inputPassword3" class="col-sm-3 col-form-label">Saturday</label>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="saturday_from" name="saturday_from"placeholder="9:00">
                            </div>
                            <div class="col-sm-4">
                                <input type="text" class="form-control" id="saturday_to" name="saturday_to" placeholder="15:00">
                            </div>
                        </div>
                        <div class="container">
                        {% if wizard.steps.prev %}
                            <button class="btn btn-grey" formnovalidate="formnovalidate" name="wizard_goto_step" value="{{ wizard.steps.first }}">
                                first step
                            </button>
                            <button class="btn btn-grey" formnovalidate="formnovalidate" name="wizard_goto_step" value="{{ wizard.steps.prev }}">
                                prev step
                            </button>
                        {% endif %}
                        <input type="submit" class="ml-auto btn btn-primary" value="Save">
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

{% endblock %}
